In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('E://Data Sets/1000_Companies.csv')

In [3]:
df

     R&D Spend  Administration  Marketing Spend       State        Profit
0    165349.20      136897.800      471784.1000    New York  192261.83000
1    162597.70      151377.590      443898.5300  California  191792.06000
2    153441.51      101145.550      407934.5400     Florida  191050.39000
3    144372.41      118671.850      383199.6200    New York  182901.99000
4    142107.34       91391.770      366168.4200     Florida  166187.94000
..         ...             ...              ...         ...           ...
995   54135.00      118451.999      173232.6695  California   95279.96251
996  134970.00      130390.080      329204.0228  California  164336.60550
997  100275.47      241926.310      227142.8200  California  413956.48000
998  128456.23      321652.140      281692.3200  California  333962.19000
999  161181.72      270939.860      295442.1700    New York  476485.43000

[1000 rows x 5 columns]

In [4]:
df.shape

(1000, 5)

In [5]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [6]:
dic = {
    'New York':1,
    'California':2,
    'Florida':3
}

In [7]:
for i in df['State']:
#     print(i)
    df['State'][i]=dic.get(i)
#     print(i)

<ipython-input-7-a85a5e634b34>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['State'][i]=dic.get(i)

In [8]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [9]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [10]:
states = pd.get_dummies(x['State'],drop_first=True)

In [11]:
x = x.drop('State',axis=1)

In [12]:
x = pd.concat([x,states],axis=1)

In [13]:
x

     R&D Spend  Administration  Marketing Spend  Florida  New York
0    165349.20      136897.800      471784.1000        0         1
1    162597.70      151377.590      443898.5300        0         0
2    153441.51      101145.550      407934.5400        1         0
3    144372.41      118671.850      383199.6200        0         1
4    142107.34       91391.770      366168.4200        1         0
..         ...             ...              ...      ...       ...
995   54135.00      118451.999      173232.6695        0         0
996  134970.00      130390.080      329204.0228        0         0
997  100275.47      241926.310      227142.8200        0         0
998  128456.23      321652.140      281692.3200        0         0
999  161181.72      270939.860      295442.1700        0         1

[1000 rows x 5 columns]

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.24,random_state=42)

In [15]:
from sklearn.linear_model import LinearRegression
lin = LinearRegression()
lin.fit(x_train,y_train)

LinearRegression()

In [16]:
y_pred = lin.predict(x_test)

In [17]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)

In [18]:
score

0.9638937488940251