# Data Structure and Booleans

In [ ]:
bool()

In [1]:
Falsee

False

In [2]:
True

True

In [3]:
type(False)

bool

In [13]:
my_str = 'Utsav Patel'

In [14]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('l'))
print(my_str.startswith('U'))

False
False
False
True
False
False
False
True
True

In [17]:
my_str = 'Utsav1234'
my_str.isalnum()

True

## Logical Operator

In [18]:
True and True

True

In [19]:
True and False

False

In [20]:
False or True

True

In [21]:
False or False

False

In [23]:
a = 'hello'
a.isalpha() or a.isnum()

True

## Lists

In [24]:
lst_example = []

In [25]:
type(lst_example)

list

In [26]:
type([])

list

In [27]:
lst = list()

In [28]:
type(lst)

list

In [29]:
lst = ['abs',2,3,4,True]

In [30]:
type(lst)

list

In [31]:
len(lst)

5

## Appends

In [42]:
lst.append('Utsav')

In [43]:
lst.append(['patel','ut',49])

In [44]:
lst

['abs', 2, 3, 4, True, 'Utsav', 'Utsav', ['patel', 'ut', 49]]

In [33]:
lst

['abs', 2, 3, 4, True, 'Utsav']

In [34]:
lst[2]

3

In [36]:
lst[-1]

'Utsav'

In [37]:
lst[:2]

['abs', 2]

In [38]:
lst[-5:]

[2, 3, 4, True, 'Utsav']

In [39]:
lst[2:6]

[3, 4, True, 'Utsav']

In [41]:
lst[1:-1]

[2, 3, 4, True]

## Insert

In [45]:
lst.insert(2,'UTSAV')

In [46]:
lst

['abs', 2, 'UTSAV', 3, 4, True, 'Utsav', 'Utsav', ['patel', 'ut', 49]]

## Extends

In [48]:
lst.extend([3,5])

In [49]:
lst

['abs', 2, 'UTSAV', 3, 4, True, 'Utsav', 'Utsav', ['patel', 'ut', 49], 3, 5]

In [54]:
lst = [1,2,3,4,5]

In [51]:
sum(lst)

15

In [55]:
lst.pop(3)

4

In [56]:
lst

[1, 2, 3, 5]

In [57]:
lst.pop()

5

In [58]:
lst

[1, 2, 3]

In [59]:
lst = [1,1,1,2,2,3,4,4,5]

In [61]:
lst.count(1)

3

In [62]:
lst.index(3)

5

In [64]:
lst.index(4,0,8)

6

In [67]:
min(lst)

1

In [68]:
max(lst)

5

In [70]:
lst*2

[1, 1, 1, 2, 2, 3, 4, 4, 5, 1, 1, 1, 2, 2, 3, 4, 4, 5]

## SETS

In [2]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var = {'utsav','patel','hitman'}
print(set_var)
type(set_var)

{'hitman', 'utsav', 'patel'}

set

In [4]:
type({})

dict

In [5]:
set_var = {1,2,3,4,3}
print(set_var)

{1, 2, 3, 4}

In [7]:
# no indixing possible
set_var = {'utsav','patel','hitman'}
set_var['hitman']

TypeError: 'set' object is not subscriptable

In [9]:
set_var.add('Ut')
print(set_var)

{'hitman', 'utsav', 'Ut', 'patel'}

In [15]:
set1 = {'Utsav','patel','194'}
set2 = {'Utsav','patel','194','97','49'}

In [11]:
set2.difference(set1)

{'49', '97'}

In [12]:
set2.difference_update(set1)

In [13]:
print(set2)

{'49', '97'}

In [16]:
set2.intersection(set1)

{'194', 'Utsav', 'patel'}

## Dictionary

In [17]:
dic = {}

In [18]:
type(dic)

dict

In [19]:
dic = {1,2,3,4,5}
type(dic)

set

In [20]:
dic = {'car1':'Audi','car2':'paursh','car3':'Mersydes'}

In [21]:
type(dic)

dict

In [24]:
print(type(dict()))

<class 'dict'>

In [25]:
dic['car2']

'paursh'

In [26]:
for x in dic:
    print(x)

car1
car2
car3

In [27]:
for x in dic.values():
    print(x)

Audi
paursh
Mersydes

In [28]:
for x in dic.items():
    print(x)

('car1', 'Audi')
('car2', 'paursh')
('car3', 'Mersydes')

In [29]:
dic['car4'] = 'BMW'

In [30]:
dic

{'car1': 'Audi', 'car2': 'paursh', 'car3': 'Mersydes', 'car4': 'BMW'}

In [32]:
dic['car1']='Lamborghini'

In [33]:
dic

{'car1': 'Lamborghini', 'car2': 'paursh', 'car3': 'Mersydes', 'car4': 'BMW'}

## Nested Dictionary

In [34]:
car1 = {'BMW':1960}
car2 = {'Audi':1995}
car3 = {'Paursh':2001}

car_type = {'car1':car1,'car2':car2,'car3':car3}

In [35]:
print(car_type)

{'car1': {'BMW': 1960}, 'car2': {'Audi': 1995}, 'car3': {'Paursh': 2001}}

In [36]:
print(car_type['car3'])

{'Paursh': 2001}

In [37]:
print(car_type['car2']['Audi'])

1995

## Tuples

In [38]:
my_tuple = tuple()

In [39]:
print(my_tuple)

()

In [40]:
type(my_tuple)

tuple

In [41]:
my_tuple = ()

In [42]:
type(my_tuple)

tuple

In [43]:
my_tuple = ('utsav','patel','194')

In [44]:
my_tuple

('utsav', 'patel', '194')

In [46]:
my_tuple[2]

'194'

In [47]:
print(type(my_tuple))

<class 'tuple'>

In [48]:
my_tuple[1]='200'

TypeError: 'tuple' object does not support item assignment

In [50]:
my_tuple = ('UTSAV','49')

In [51]:
my_tuple

('UTSAV', '49')

In [52]:
my_tuple.count('49')

1

In [53]:
my_tuple.index('49')

1